@import '../colors.scss';
@import '../layout.scss';

.panel {
  @include box-shadow;
  @extend %column;

  border-radius: 3px;
  margin: auto;
  padding: 1em;
  width: 300px;

  &.wide {
    width: 500px;
  }
}
