@import '../layout.scss';

#row {
  @extend %row;
  margin: 0.5em;
  width: 100%;

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  &.spaceAround {
    justify-content: space-around;
  }

  &.spaceBetween {
    justify-content: space-between;
  }

  &.spaceEvenly {
    justify-content: space-evenly;
  }

  &.stretch {
    align-items: stretch;
  }
}
