@import '../colors.scss';

.menu-icon {
  background-color: $primary;
  color: $secondary;
  border: 1px solid $secondary;
  border-radius: 100%;
  font-size: 1em;
  padding: 0.7em;
  transition: 0.2s;

  &:hover,
  &.active {
    cursor: pointer;
    color: $primary;
    background-color: $secondary;
  }
}
