@import '../colors.scss';
@import '../layout.scss';

$rate: 0.15s;

#menu {
  background-color: $white;
  border-radius: 3px;
  visibility: none;
  position: absolute;
  top: 120%;
  right: 0;
  height: 200px;
  width: 200px;
  z-index: 100;
  transform: translateY(0);

  &.active {
    @include box-shadow($y: 1px, $spread: 1px, $blur: 4px);
    display: flex;
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);
    transition: transform $rate, opacity $rate linear;
  }

  &.inactive {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
    transition: visibility $rate, transform $rate, opacity $rate linear;
  }

  .arrow {
    color: $white;
    font-size: 2em;
    position: absolute;
    right: 10px;
    top: -10px;
  }

  .menu-content {
    @extend %column;
    margin: auto;
    justify-content: space-between;
    overflow: hidden;

    .link {
      background-color: $white;
      border: none;
      border-bottom: 2px solid $light-gray;
      color: $gray;
      font-size: 1.5em;
      font-family: 'Barlow Condensed', sans-serif;
      margin: 0.25em;
      padding: 0.5em;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: 0.2s;
      width: 100%;

      &:hover,
      &.active {
        cursor: pointer;
        border-bottom: 2px solid $info;
      }

      .link-content {
        transition: 0.2s;
      }

      &:hover .link-content {
        color: $info;
        transform: translateY(-8px);
        transition: 0.2s;
      }
    }
  }
}
