@import '../animations.scss';
@import '../colors.scss';
@import '../layout.scss';

#text-area {
  width: 100%;

  textarea {
    font-size: 1em;
    background-color: rgb(250, 250, 250);
    border-radius: 3px 3px 0 0;
    border: none;
    border-bottom: 2px solid $light-gray;
    columns: 25;
    height: 300px;
    margin-top: 0.5em;
    padding: 0;
    outline: none;
    resize: none;
  }

  textarea.fluid {
    @extend %fluid;
  }
}
