@import '../colors.scss';

.list {
  border: 1px solid $light-gray;
  border-radius: 5px;
  list-style-type: none;
  height: 400px;
  overflow-y: scroll;
  padding: 0;
  width: 300px;

  &.thin {
    padding: 0.25em;
    width: 200px;
  }
}
