@import '../layout.scss';

#column {
  @extend %column;

  justify-content: center;
  margin: auto;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  &.spaceAround {
    justify-content: space-around;
  }

  &.spaceBetween {
    justify-content: space-between;
  }

  &.spaceEvenly {
    justify-content: space-evenly;
  }
}
