@import './colors.scss';

.btn {
  @include shadow;

  background-color: $snow;
  border: solid 1px $snow;
  border-radius: 4px;
  color: $dark-liver;
  padding: 0.75rem;
  outline: none;
  text-decoration: none;
  text-align: center;

  &:hover {
    box-shadow: none;
    cursor: pointer;
  }
}

.outline {
  border: solid 1px $light-gray;
  background-color: $snow;
  box-shadow: none;

  &:hover {
    @include hover;
  }
}

.flat {
  box-shadow: none;

  &:hover {
    @include hover;
  }
}

.disabled {
  background-color: $light-gray;
  color: $white;

  &:hover {
    color: $white;
    cursor: not-allowed;
  }
}

.toggled {
  @include hover;
}

.danger {
  background-color: $white;
  border: solid 1px $danger;
  color: $danger;

  &:hover,
  &.toggled {
    background-color: $danger;
    color: $white;
  }
}

.info {
  background-color: $white;
  border: solid 1px $info;
  color: $info;

  &:hover,
  &.toggled {
    color: $white;
    background-color: $info;
  }
}

.success {
  background-color: $white;
  border: solid 1px $success;
  color: $success;

  &:hover,
  &.toggled {
    background-color: $success;
    color: $white;
  }
}

.dark {
  background-color: $dark-liver;
  color: $snow;
}

.small {
  font-size: 0.9rem;
  padding: 0.7rem;
}

.large {
  font-size: 1.2rem;
  padding: 1.2rem;
}

.block {
  display: block;
  width: 100%;
}

.branding {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  margin-right: auto;

  &:hover {
    background-color: inherit;
  }
}
