@import './_colors.scss';

#entry {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border: solid 1px $light-gray;
  border-radius: 3px;
  align-items: center;
  margin: 0 auto 0.5rem;
  padding: 0.5rem;
  overflow-x: hidden;

  &:hover {
    @include shadow;

    background-color: $white;
    border: solid 1px $light-gray;
    border-radius: 3px;
    cursor: pointer;
    transform: translateY(-3px);
  }
}
