@import './colors.scss';

#journal-list {
  display: flex;
  border: solid 1px $light-gray;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 25rem;
  margin-top: 0.5rem;
  overflow-y: auto;
  padding: 1rem;
}
