@import './colors.scss';

#toolbar {
  display: flex;
  border-radius: 3px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem;
  width: 90%;

  button {
    margin: 1rem;
  }
}

.justify-left {
  justify-content: flex-start;
}

.justify-right {
  justify-content: flex-end;
}
