@import '../layout.scss';

#entry-list {
  align-self: flex-start;
  width: 250px;
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;

  button {
    border-radius: 0;
    margin: 0.5rem 0;
  }

  p {
    margin: auto;
    text-align: center;
  }
}
