@import '../colors.scss';

/* Bottom border animation */
@keyframes sweep {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes sweep-reverse {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.text-input {
  margin: 0.5em;

  .input-group {
    input {
      border: 1px solid $white;
      border-bottom: 2px solid $light-gray;
      color: $gray;
      font-size: 1em;
      outline: none;
      transition: 0.2s;
    }
  }

  p.errors {
    color: $danger;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
  }

  .bottom-border {
    border-bottom: 2px solid $info;
    position: relative;
    bottom: 2px;
    width: 0;

    &.active {
      width: 100%;
      animation-name: sweep;
      animation-duration: 0.3s;
    }

    &.inactive {
      width: 0;
      animation-name: sweep-reverse;
      animation-duration: 0.3s;
    }

    &.errors {
      border-bottom: 2px solid $danger;
    }
  }
}
