@import '../animations.scss';
@import '../colors.scss';
@import '../layout.scss';

.input-group {
  width: 100%;

  input {
    border: none;
    border-bottom: 2px solid $light-gray;
    color: $gray;
    font-size: 1em;
    outline: none;
    margin-top: 0.5em;
    padding: 0;
    transition: 0.2s;
    width: inherit;
  }
}

p.errors {
  color: $danger;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  font-weight: bold;
}
