@import '../colors.scss';
@import '../layout.scss';

header {
  @include box-shadow($y: 1px);
  background-color: $white;
  width: 100%;

  nav {
    @extend %row;
    height: 50px;
    margin: auto;
    width: 80%;
    margin: auto;

    .branding {
      background-color: $white;
      color: $secondary;
      font-family: 'Dancing Script', cursive;
      font-size: 1.75em;
      margin: auto;
      text-decoration: none;
    }

    .nav-link {
      border: 1px solid $primary;
      border-radius: 3px;
      color: $secondary;
      padding: 0.5em;
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        border: 1px solid $secondary;
      }
    }

    #dropdown {
      position: relative;
    }
  }
}
