/* Colors */
$primary: #b3d7df;
$secondary: #05445e;
$success: #8fdd6b;
$info: #4375fc;
$danger: #f86a6a;
$white: #fff;
$black: #000;
$gray: #818181;
$light-gray: #e9e7e7;

@mixin box-shadow($x: 0, $y: 6px, $blur: 6px, $spread: 1px, $color: $black) {
  box-shadow: $x $y $blur $spread rgba($color, 0.4);
}
