@import '../colors.scss';
@import '../layout.scss';

footer {
  @extend %row;

  background-color: $primary;
  color: $secondary;
  font-size: 1.25em;
  height: 50px;
  text-align: center;
  align-items: center;

  .content {
    margin: auto;
  }
}
