@import '../colors.scss';

#entry-item {
  background-color: $white;
  height: 70px;
  padding: 0.5rem;
  transition: 0.2s;
  width: 100%;

  h2 {
    display: inline-block;
    margin: 0;
    padding-left: 1rem;
  }

  p {
    display: inline-block;
    font-size: 0.75rem;
    color: $gray;
    padding-left: 1rem;
  }

  &:hover {
    background-color: $light-gray;
    cursor: pointer;
  }
}
