@import '../colors.scss';

#entry-item {
  background-color: $white;
  padding-left: 1rem;
  transition: 0.2s;
  width: 100%;

  &:hover {
    background-color: $light-gray;
    cursor: pointer;
  }
}
