@import '../colors.scss';
@import '../layout.scss';

@keyframes slide-in {
  from {
    left: -210px;
  }

  to {
    left: 0;
  }
}

@keyframes slide-out {
  from {
    left: 0;
  }

  to {
    left: -210px;
  }
}

$width: 250px;

#jv-mobile {
  position: relative;
  width: 100%;
}

.content {
  @extend %column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.entry-list {
  @extend %column;
  background-color: $white;
  height: 101vh;
  margin: auto;
  position: absolute;
  top: 0;
  left: -$width;
  bottom: 0;
  width: $width;
  z-index: 30;

  &.active {
    @include box-shadow($y: 2px, $spread: 2px);
    animation-name: slide-in;
    animation-duration: 0.2s;
    left: 0;
  }

  &.inactive {
    animation-name: slide-out;
    animation-duration: 0.2s;
    left: -$width;
  }
}

.toolbar {
  background-color: $white;
  position: relative;
  width: 100vw;
  z-index: 25;
}
